<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monsterD1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,47}</string>
                <key>textureRect</key>
                <string>{{1,447},{50,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterD2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,47}</string>
                <key>textureRect</key>
                <string>{{1,76},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterD3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{45,47}</string>
                <key>textureRect</key>
                <string>{{1,274},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterL1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{41,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,46}</string>
                <key>textureRect</key>
                <string>{{1,317},{41,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsterL2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{1,115},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsterL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{1,193},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterR1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{41,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{1,360},{41,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsterR2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{1,154},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monsterR3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{44,41}</string>
                <key>textureRect</key>
                <string>{{1,233},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterU1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{1,403},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterU2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{47,35}</string>
                <key>spriteSourceSize</key>
                <string>{47,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monsterU3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1,38},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monsterT.png</string>
            <key>size</key>
            <string>{52,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cb8333ad839387e035396fe79c3125e:2a000b0715d7fef36d8bfdbfb67d59c9:51554456659aed9a6310190452df2485$</string>
            <key>textureFileName</key>
            <string>monsterT.png</string>
        </dict>
    </dict>
</plist>
