<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayerD1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,74}</string>
                <key>spriteSourceSize</key>
                <string>{46,74}</string>
                <key>textureRect</key>
                <string>{{43,292},{46,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerD2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,74}</string>
                <key>spriteSourceSize</key>
                <string>{45,74}</string>
                <key>textureRect</key>
                <string>{{0,366},{45,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerD3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,73}</string>
                <key>spriteSourceSize</key>
                <string>{45,73}</string>
                <key>textureRect</key>
                <string>{{47,0},{45,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerL1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,73}</string>
                <key>spriteSourceSize</key>
                <string>{46,73}</string>
                <key>textureRect</key>
                <string>{{0,73},{46,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerL2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,73}</string>
                <key>spriteSourceSize</key>
                <string>{45,73}</string>
                <key>textureRect</key>
                <string>{{46,73},{45,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerL3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,73}</string>
                <key>spriteSourceSize</key>
                <string>{45,73}</string>
                <key>textureRect</key>
                <string>{{0,146},{45,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerR1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerR2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,73}</string>
                <key>spriteSourceSize</key>
                <string>{48,73}</string>
                <key>textureRect</key>
                <string>{{45,146},{48,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerR3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,74}</string>
                <key>spriteSourceSize</key>
                <string>{44,74}</string>
                <key>textureRect</key>
                <string>{{45,366},{44,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerU1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,73}</string>
                <key>spriteSourceSize</key>
                <string>{46,73}</string>
                <key>textureRect</key>
                <string>{{0,219},{46,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerU2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,73}</string>
                <key>spriteSourceSize</key>
                <string>{47,73}</string>
                <key>textureRect</key>
                <string>{{46,219},{47,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayerU3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,73}</string>
                <key>spriteSourceSize</key>
                <string>{43,73}</string>
                <key>textureRect</key>
                <string>{{0,292},{43,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Player.png</string>
            <key>size</key>
            <string>{93,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f54195907e3f02dc6eef1a8c2ab21fb:9df1b634e676bde3e4bddb2cf9906bae:18fcf80557a1b693f695decb3ad03513$</string>
            <key>textureFileName</key>
            <string>Player.png</string>
        </dict>
    </dict>
</plist>
